<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="msubscribers.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Work+Sans" rel="stylesheet">
    <title>manage subscribers</title>
</head>
<body>
   <div class="container-fluid" id="subscribers">
       <div class="row subscriber-row">
           <div class="col-3 pt-5 text-center" id="first">
               <p class="text-center">logo</p>
               <ul class="manage-list mt-5">
                   <li><a class="btn btn-md btn-link" href="">Post New Job</a></li>
                   <li><a class="btn btn-md btn-link" href="">Manage Jobs</a></li>
                   <li><a class="btn btn-md btn-link Subscribers-button" href="">Subscribers</a></li>
               </ul>
           </div>
           <div class="col-9 pt-5 second">
               <h2 class="text-center pb-5">Manage Subscribers</h2>
               <div class="row">
                   <div class="col-2"></div>
                   <div class="col-8">
                        <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>S/N</th>
                                    <th>Email Address</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td class="email">Mark@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete">delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td class="email" >Jacob@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete" >delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td class="email">Larry@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete">delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">4</th>
                                    <td class="email">Larry@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete">delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5</th>
                                    <td class="email">Larry@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete" >delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">6</th>
                                    <td class="email">Larry@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete" >delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">7</th>
                                    <td class="email">Larry@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete">delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">8</th>
                                    <td class="email">Larry@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete">delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">9</th>
                                    <td class="email">Larry@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete" >delete</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">10</th>
                                    <td class="email">Larry@gmail.com</td>
                                    <td class="unsubscribe">unsubscribe</td>
                                    <td class="delete" >delete</td>
                                  </tr>
                                </tbody>
                              </table>
                              <hr>
                              <p class="page-nav">
                                <span id="one">1</span> 
                                <span>2</span> 
                                <span>3</span> 
                                <span>4</span> 
                            </p>
                   </div>
                   <div class="col-2"></div>
               </div>       
           </div>
       </div>
   </div> 
</body>
</html>